
<hr>
  <h2>Período letivo</h2>
<p>
  <%= @assistant_evaluation.semester.as_s %>
</p>
  <h2>Nome do Monitor(a)</h2>
<p>
  <%= @assistant_evaluation.student.name %>
</p>
  <h2>Colaborou junto à disciplina</h2>
<p>
  <%= @assistant_evaluation.course.full_name %>
</p>
<hr>

<h2>Avaliação</h2>
<%= form_for(@assistant_evaluation) do |f| %>
  <% if @assistant_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistant_evaluation.errors.count, "error") %> prohibited this assistant_evaluation from being saved:</h2>

      <ul>
      <% @assistant_evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :assistant_role_id, :value => @assistant_evaluation.assistant_role_id %>
  </div>
  <% criteria.each do |crit| %>
    <div class="field">
      <p>
        <strong><%= f.label crit, t('activerecord.attributes.assistant_evaluation.'+crit.to_s) %></strong><br>
      </p>
      <% evaluation_grades.each do | grade_option | %>
        <%= f.radio_button crit, grade_option[1] %>
        <%= f.label grade_option[0] %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :comment, t('activerecord.attributes.assistant_evaluation.comment') %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar avaliação"%>
  </div>
<% end %>
