
<p>
  <strong>TODO info do monitor</strong>
  <strong>TODO instruções de preenchimento</strong>
</p>

<%= form_for(@assistant_evaluation) do |f| %>
  <% if @assistant_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistant_evaluation.errors.count, "error") %> prohibited this assistant_evaluation from being saved:</h2>

      <ul>
      <% @assistant_evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :assistant_role_id, :value => @assistant_evaluation.assistant_role_id %>
  </div>
  <div class="field">
    <%= f.label :ease_of_contact, t('activerecord.attributes.assistant_evaluation.ease_of_contact') %><br>
    <%= f.number_field :ease_of_contact %>
  </div>
  <div class="field">
    <%= f.label :efficiency, t('activerecord.attributes.assistant_evaluation.efficiency') %><br>
    <%= f.number_field :efficiency %>
  </div>
  <div class="field">
    <%= f.label :reliability, t('activerecord.attributes.assistant_evaluation.reliability') %><br>
    <%= f.number_field :reliability %>
  </div>
  <div class="field">
    <%= f.label :overall, t('activerecord.attributes.assistant_evaluation.overall') %><br>
    <%= f.number_field :overall %>
  </div>
  <div class="field">
    <%= f.label :comment, t('activerecord.attributes.assistant_evaluation.comment') %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
