<h1><%= @student.name %> <br><small>Avaliações como monitor(a)</small></h1>

<% @assistant_evaluations.each do |assistant_evaluation| %>
  <% request = assistant_evaluation.assistant_role.request_for_teaching_assistant %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2"><%= request.course.full_name %> no <%= request.semester.as_s %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.professor_name' %></td>
          <td><%= request.professor.name %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.ease_of_contact' %></td>
          <td><%= evaluation_grades[assistant_evaluation.ease_of_contact][0] %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.efficiency' %></td>
          <td><%= evaluation_grades[assistant_evaluation.efficiency][0] %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.reliability' %></td>
          <td><%= evaluation_grades[assistant_evaluation.reliability][0] %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.overall' %></td>
          <td><%= evaluation_grades[assistant_evaluation.overall][0] %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.comment' %></td>
          <td><%= assistant_evaluation.comment %></td>
        </tr>
    </tbody>
  </table>

  <br>
<% end %>

<%= button_link_to "Voltar para ficha do aluno", @student.user %>
