<h1>Avaliações de <%= @student.name %></h1>
<hr>

<% @assistant_evaluations.each do |assistant_evaluation| %>
  <% request = assistant_evaluation.assistant_role.request_for_teaching_assistant %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2"><%= request.course.full_name %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.semester' %></td>
          <td><%= request.semester.period_as_s %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.professor_name' %></td>
          <td><%= request.professor.name %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.ease_of_contact' %></td>
          <td><%= assistant_evaluation.ease_of_contact %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.efficiency' %></td>
          <td><%= assistant_evaluation.efficiency %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.reliability' %></td>
          <td><%= assistant_evaluation.reliability %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.overall' %></td>
          <td><%= assistant_evaluation.overall %></td>
        </tr>
        <tr>
          <td class="longtitle"><%= t'activerecord.attributes.assistant_evaluation.comment' %></td>
          <td><%= assistant_evaluation.comment %></td>
        </tr>
    </tbody>
  </table>

  <br>
<% end %>

<%= button_link_to "Voltar para ficha do aluno", @student.user %>
