<p id="notice"><%= notice %></p>

<p>
  <strong>Index for student:</strong>
  <%= @assistant_evaluation.index_for_student %>
</p>

<p>
  <strong>New:</strong>
  <%= @assistant_evaluation.new %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @assistant_evaluation.edit %>
</p>

<p>
  <strong>Create:</strong>
  <%= @assistant_evaluation.create %>
</p>

<p>
  <strong>Update:</strong>
  <%= @assistant_evaluation.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @assistant_evaluation.destroy %>
</p>

<%= link_to 'Edit', edit_assistant_evaluation_path(@assistant_evaluation) %> |
<%= link_to 'Back', assistant_evaluations_path %>
