<h1>Semestres</h1>

<% if @semester and @semester.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@semester.errors.count, "erro impediu", "erros impediram") %> essa candidatura de ser salva:</h3>

    <ul>
    <% @semester.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.semester.name') %></th>
      <th><%= t('activerecord.attributes.semester.open') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.year %>/<%= semester.parity_as_i %></td>
        <td><%= semester.state_as_s %></td>
        <% if semester.open %>
          <td>
            <%= link_to "Desativar", deactivate_semester_path(semester), :method => 'post' %>
            <%= link_to "Fechar inscrições", close_semester_path(semester), :method => 'post' %>
          </td>
        <% elsif semester.active %>
          <td>
            <%= link_to "Desativar", deactivate_semester_path(semester), :method => 'post' %>
            <%= link_to "Abrir inscrições", open_semester_path(semester), :method => 'post' %>
          </td>
        <% else %>
          <td>
            <%= link_to "Ativar", activate_semester_path(semester), :method => 'post' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Adicionar semestre", controller: "semesters", :action => "create", :method => 'post' %>
