
<h1>Monitores eleitos para <%= @semester.as_s %></h1>

<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    <h2 class="list-group-item-heading">Monitores</h3>
  </li>
  <% @assistant_roles.each do |role| %>
    <li class="list-group-item">
      <div class="container-fluid">
        <div class="row">
          <h4 class="list-group-item-heading"><%= role.student.name %></h4>
          <p class="list-group-item-text">
            <% if role.student.is_male? %>
              Monitor <%= role.active ? "ativo" : "desativado" %> de <%= role.request_for_teaching_assistant.course.course_code %>
            <% else %>
              Monitora <%= role.active ? "ativa" : "desativada" %> de <%= role.request_for_teaching_assistant.course.course_code %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
