<h1>Administração do sistema</h1>

<%= link_to "Disciplinas", courses_path %>
<%= link_to "Professores", professors_path %>
<%= link_to "Funcionários", secretaries_path %>
<%= link_to "Alunos", students_path %>

<div>
  <h3>Cadastro de disciplinas oferecidas no semestre</h3>
  <%= button_to "Cadastrar disciplinas de graduação", controller: "admins", :action => "register_undergraduate_courses", :method => 'post' %>
  <br>
  <%= button_to "Cadastrar disciplinas de pós-graduação", controller: "admins", :action => "register_postgraduate_courses", :method => 'post' %>
  <br>
  <%= button_to "Detectar alunos duplicados", controller: "admins", :action => "duplicate_students", :method => 'get' %>
</div>

<% if @duplicates then %>
  <div>
    <h3>Alunos com número USP duplicados:</h3>
    <% @duplicates.each do |entry| %>
      <p>
        <%= entry[0].nusp %>:
        <% entry.each_with_index do |student, i| %>
          <%= link_to i.to_s, student %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

