<script type="text/javascript">
  function institute_selected() {
    select_box = document.getElementById("student_institute")
    if (select_box.selectedIndex == (select_box.length-1)) {
      $("#other_institute").removeClass("hidden")
    } else {
      $("#other_institute").addClass("hidden")
    }
  }
</script>

<% if @student.errors.any? %>
  <div class="alert alert-danger">
    <p><strong><%= pluralize(@student.errors.count, "erro impediu", "erros impediram") %> esse aluno de ser salvo:</strong></p>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @student, html: { role: "form" } do |f| %>

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-xs-4 col-md-4">
      <!-- RG -->
      <div class="form-group">
        <%= f.label :rg, t('activerecord.attributes.student.rg') %> 
        <%= f.text_field :rg, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-xs-6 col-md-6">
      <!-- Endereço -->
      <div class="form-group">
        <%= f.label :address, t('activerecord.attributes.student.address') %> <br>
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-xs-4 col-md-4">
      <!-- CPF -->
      <div class="form-group">
        <%= f.label :cpf, t('activerecord.attributes.student.cpf') %> 
        <%= f.text_field :cpf, class: "form-control" %>
      </div>
      <!-- Unidade de origem -->
      <div class="form-group">
        <%= f.label :institute, t('activerecord.attributes.student.institute') %>
        <%= f.select :institute, institute_options, {}, { class: "form-control", onchange: "institute_selected()" } %>
      </div>
      <div class="form-group hidden" id="other_institute">
        <%= f.label :institute_text, "" %>
        <%= f.text_field :institute_text, class: "form-control" %>
      </div>
      <!-- Gênero -->
      <p><%= f.label :gender, t('activerecord.attributes.student.gender') %></p>
      <div class="btn-group" data-toggle="buttons">
        <% genderOptions.each do | option | %>
          <%= f.label :gender, class: "btn btn-default" do %>
            <%= f.radio_button :gender, option[1] %>
            <%= option[0] %>
          <% end %>
        <% end %>
      </div>
      <div class="row" style="height:1em;"></div>
      <!-- Conta no BB -->
      <p><%= f.label :has_bank_account, t('activerecord.attributes.student.has_bank_account') %></p>
      <div class="btn-group" data-toggle="buttons">
        <% yesOrNo.each do | option | %>
          <%= f.label :has_bank_account, class: "btn btn-default" do %>
            <%= f.radio_button :has_bank_account, option[1] %>
            <%= option[0] %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-xs-3 col-md-3">
      <!-- CEP -->
      <div class="form-group">
        <%= f.label :zipcode, t('activerecord.attributes.student.zipcode') %> 
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
      <!-- Telefones -->
      <div class="form-group">
        <%= f.label :tel, t('activerecord.attributes.student.tel') %> 
        <%= f.telephone_field :tel, class: "form-control" %>
        <span class="help-block"><%= t('activerecord.attributes.student.tel_note') %></span>
      </div>
      <div class="form-group">
        <%= f.label :cel, t('activerecord.attributes.student.cel') %>
        <%= f.telephone_field :cel, class: "form-control" %>
        <span class="help-block"> <%= t('activerecord.attributes.student.cel_note') %></span>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-xs-3 col-md-3">
      <div class="form-group">
        <%= f.label :complement, t('activerecord.attributes.student.complement') %> 
        <%= f.text_field :complement, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :district, t('activerecord.attributes.student.district') %> 
        <%= f.text_field :district, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :city, t('activerecord.attributes.student.city') %> 
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :state, t('activerecord.attributes.student.state') %> 
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row" style="height:2em;"></div>
  <div class="row">
    <div class="col-xs-10 text-center">
      <div class="field">
        <%= f.submit "Salvar", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
<% end %>
