<%= form_for :student, url: students_path do |f| %>

  <p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password, "Senha" %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :nusp, "NºUSP" %><br>
    <%= f.text_field :nusp %>
  </p>

  <p>
    <%= f.label :gender, "Gênero" %><br>
    <% genderOptions.each do | option | %>
      <%= f.radio_button :gender, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </p>

  <p>
    <%= f.label :rg, "RG" %><br>
    <%= f.text_field :rg %>
  </p>

  <p>
    <%= f.label :cpf, "CPF" %><br>
    <%= f.text_field :cpf %>
  </p>

  <p>
    <%= f.label :adress, "Endereço" %><br>
    <%= f.text_field :adress %>
  </p>

  <p>
    <%= f.label :complement, "Complemento" %><br>
    <%= f.text_field :complement %>
  </p>

  <p>
    <%= f.label :district, "Bairro" %><br>
    <%= f.text_field :district %>
  </p>

  <p>
    <%= f.label :zipcode, "CEP" %><br>
    <%= f.text_field :zipcode %>
  </p>

  <p>
    <%= f.label :city, "Cidade" %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state, "Estado" %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :tel, "Telefone residencial" %><br>
    <%= f.text_field :tel %>
  </p>

  <p>
    <%= f.label :cel, "Telefone celular" %><br>
    <%= f.text_field :cel %>
  </p>

  <p>
    <%= f.label :email, "Endereço eletrônico" %><br>
    <%= f.text_field :email %>
  </p>

 <p>
    <%= f.label :has_bank_account, 'Possui conta BB?' %><br>
    <% yesOrNo.each do | option | %>
      <%= f.radio_button :has_bank_account, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </p>

  <p>
    <%= f.submit "Cadastrar" %>
  </p>

<% end %>