<p>
  	<strong>Nome:</strong>
  	<%= @student.name %>
</p>

<p>
  	<strong>Sexo:</strong>
  	<% if (@student.gender == 0) %>
  		<%="Feminino"%>
  	<%else%>
  		<%="Masculino"%>
  	<%end%>
</p>

<% if professor_signed_in? || admin_signed_in? %>
 	<p>
 		<strong> NUsp:</strong>
 		<%= @student.nusp %>
 	</p>

 	<p>
  	<strong>RG:</strong>
  	<%= @student.rg %>
</p>

<p>
  	<strong>CPF:</strong>
  	<%= @student.cpf %>
</p>

<p>
  	<strong>Endereço:</strong>
  	<%= @student.adress %>
</p>

<p>
  	<strong>Complemento:</strong>
  	<%= @student.complement %>
</p>

<p>
  	<strong>Bairro:</strong>
  	<%= @student.district %>
</p>
<p>
  	<strong>CEP:</strong>
  	<%= @student.zipcode %>
</p>

<p>
  	<strong>Cidade:</strong>
  	<%= @student.city %>
</p>

<p>
  	<strong>Estado:</strong>
  	<%= @student.state %>
</p>

<p>
  	<strong>Telefone:</strong>
  	<%= @student.tel %>
</p>

<p>
  	<strong>Celular:</strong>
  	<%= @student.cel %>
</p>

<p>
  	<strong>Email:</strong>
  	<%= @student.email %>
</p>

<p>
  	<strong>Possuí conta:</strong>
  	<%= @student.has_bank_account %>
</p>
<%end%>
 