<p>
  <strong><%= t('activerecord.attributes.student.name') + ':' %></strong>
  <%= @student.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.gender') + ':' %></strong>
  <% if (@student.gender == 0) %>
    <%="Feminino"%>
  <%else%>
    <%="Masculino"%>
  <%end%>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.nusp') + ':' %></strong>
  <%= @student.nusp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.rg') + ':' %></strong>
  <%= @student.rg %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.cpf') + ':' %></strong>
  <%= @student.cpf %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.address') + ':' %></strong>
 	<%= @student.address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.complement') + ':' %></strong>
  <%= @student.complement %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.district') + ':' %></strong>
  <%= @student.district %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.cep') + ':' %></strong>
  <%= @student.zipcode %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.city') + ':' %></strong>
  <%= @student.city %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.state') + ':' %></strong>
  <%= @student.state %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.tel') + ':' %></strong>
  <%= @student.tel %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.cel') + ':' %></strong>
  <%= @student.cel %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.email') + ':' %></strong>
  <%= @student.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.has_bank_account') + ':' %></strong>
  <%= show_yes_or_no @student.has_bank_account %>
</p>

<% if student_signed_in? %>
  <p>
  <%= link_to 'Editar', edit_student_path(@student) %>
  </p>
<% end %>

<% if admin_signed_in? || secretary_signed_in? %>
  <p>
    <strong><%= t('activerecord.attributes.student.confirmed_at') + ':' %></strong>
    <%= @student.confirmed_at ? @student.confirmed_at : t('activerecord.attributes.student.unconfirmed') %>
  </p>
  <p>
  <%= link_to 'Remover', student_path(@student), method: :delete, data: { confirm: 'Tem certeza?' } %>
  </p>
<% end %>
