<%= form_for(@request_for_teaching_assistant) do |f| %>
  <% if @request_for_teaching_assistant.errors.any? %>
    <div id="error_explanation">
      <h2>Alguns erros impediram de fazer a requisição:</h2>
      <ul>
      <% @request_for_teaching_assistant.errors.messages.each do |error_map| %>
        <% error_map[1].each do |msg| %>
          <% if not msg.empty? %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :course_id, "Disciplina" %><br>
      <%= f.select :course_id, course_options %><br>
  </div>
  <div class="field">
    <%= f.label :requested_number, "Número de monitores solicitados" %><br>
    <%= f.number_field :requested_number %>
  </div>
  <div class="field">
    <%= f.label :priority, "Prioridade" %><br>
    <% priorityOptions.each do | option | %>
      <%= f.radio_button :priority, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :student_assistance, "Atendimento aos alunos" %><br>
    <%= f.check_box :student_assistance %>
  </div>
  <div class="field">
    <%= f.label :work_correction, "Correção de trabalhos" %><br>
    <%= f.check_box :work_correction %>
  </div>
  <div class="field">
    <%= f.label :test_oversight, "Fiscalização de provas" %><br>
    <%= f.check_box :test_oversight %>
  </div>
  <div class="field">
    <%= f.label :observation, "Observações" %><br>
    <%= f.text_area :observation %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
