<%= form_for(@request_for_teaching_assistant) do |f| %>
  <% if @request_for_teaching_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_for_teaching_assistant.errors.count, "erro impediu", "erros impediram") %> esse pedido por monitor de ser salvo:</h3>

      <ul>
      <% @request_for_teaching_assistant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? and current_user.super_professor? %>
    <div class="field">
      <%= f.label :professor_id, t('activerecord.attributes.candidature.professor_id') %><br>
      <%= f.select :professor_id, professor_options, :selected => (f.object.id or current_user.professor.id), :include_blank => false %><br>
    </div>
  <% elsif secretary_signed_in? %>
    <div class="field">
      <%= f.label :professor_id, t('activerecord.attributes.candidature.professor_id') %><br>
      <%= f.select :professor_id, professor_options, :include_blank => false %><br>
    </div>
  <% end %>
  <div class="biggerText">
  <input type="radio" name="disc" onchange="updateList(this.value)" id="MAC" value="MAC"> MAC
  <input type="radio" name="disc" onchange="updateList(this.value)" id="MAE" value="MAE"> MAE
  <input type="radio" name="disc" onchange="updateList(this.value)" id="MAP" value="MAP"> MAP
  <input type="radio" name="disc" onchange="updateList(this.value)" id="MAT" value="MAT"> MAT
  <input type="radio" name="disc" onchange="updateList(this.value)" id="ALL" value="ALL" checked> Todas
</div>
  <div class="field">
    <%= f.label :course_id, t('activerecord.attributes.request_for_teaching_assistant.course_id') %><br>
    <%= f.select :course_id, course_options %><br>
  </div>  
  <div class="field">
    <%= f.label :requested_number, t('activerecord.attributes.request_for_teaching_assistant.requested_number') %><br>
    <%= f.number_field :requested_number %>
  </div>
  <div class="field">
    <%= f.label :priority, t('activerecord.attributes.request_for_teaching_assistant.priority') %><br>
    <% priorityOptions.each do | option | %>
      <%= f.radio_button :priority, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :student_assistance, t('activerecord.attributes.request_for_teaching_assistant.student_assistance') %><br>
    <%= f.check_box :student_assistance %>
  </div>
  <div class="field">
    <%= f.label :work_correction, t('activerecord.attributes.request_for_teaching_assistant.work_correction') %><br>
    <%= f.check_box :work_correction %>
  </div>
  <div class="field">
    <%= f.label :test_oversight, t('activerecord.attributes.request_for_teaching_assistant.test_oversight') %><br>
    <%= f.check_box :test_oversight %>
  </div>
  <div class="field">
    <%= f.label :observation, t('activerecord.attributes.request_for_teaching_assistant.observation') %><br>
    <%= f.text_area :observation %>
  </div>
  <div class="field">
    <% if @semester %>
      <%= f.hidden_field :semester_id, :value => @semester.id %>
    <% else %>
      <%= f.hidden_field :semester_id, :value => @request_for_teaching_assistant.semester_id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>

<script>
var courseList = [];
var coursesByDep = {};
var name;
var id;
<% course_options.each do |course| %>
  name = "<%= course[0] %>";
  id = "<%= course[1] %>";
  courseList.push({display: name, value: id});
<% end %>

coursesByDep["MAC"] = [];
coursesByDep["MAE"] = [];
coursesByDep["MAT"] = [];
coursesByDep["MAP"] = [];
coursesByDep["ALL"] = courseList;

for (var i = 0; i < courseList.length; i++) {
  var dep = courseList[i].display.substring(0, 3);
  coursesByDep[dep].push(courseList[i]);
}

updateList("ALL");

function updateList(dep) {
  var select = document.getElementById("request_for_teaching_assistant_course_id");
  var selectLength = select.options.length;
  for (var j = selectLength - 1; j >= 0; j--) {
    select.remove(j);
  }
  var list = coursesByDep[dep];
  var blank = document.createElement("option");
  blank.text = "";
  blank.value = "";
  select.add(blank);
  for (var i = 0; i < list.length; i++) {
    var option = document.createElement("option");
    option.text = list[i].display;
    option.value = list[i].value;
    select.add(option);
  }
}
</script>
