<%= form_for(@request_for_teaching_assistant) do |f| %>
  <% if @request_for_teaching_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_for_teaching_assistant.errors.count, "erro impediu", "erros impediram") %> esse pedido por monitor de ser salvo:</h3>

      <ul>
      <% @request_for_teaching_assistant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if professor_signed_in? and current_professor.super_professor? %>
    <div class="field">
      <%= f.label :professor_id, t('activerecord.attributes.candidature.professor_id') %><br>
      <%= f.select :professor_id, professor_options, :selected => (f.object.id or current_professor.id), :include_blank => false %><br>
    </div>
  <% elsif secretary_signed_in? %>
    <div class="field">
      <%= f.label :professor_id, t('activerecord.attributes.candidature.professor_id') %><br>
      <%= f.select :professor_id, professor_options, :include_blank => false %><br>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :course_id, t('activerecord.attributes.request_for_teaching_assistant.course_id') %><br>
    <%= f.select :course_id, course_options %><br>
  </div>
  <div class="field">
    <%= f.label :requested_number, t('activerecord.attributes.request_for_teaching_assistant.requested_number') %><br>
    <%= f.number_field :requested_number %>
  </div>
  <div class="field">
    <%= f.label :priority, t('activerecord.attributes.request_for_teaching_assistant.priority') %><br>
    <% priorityOptions.each do | option | %>
      <%= f.radio_button :priority, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :student_assistance, t('activerecord.attributes.request_for_teaching_assistant.student_assistance') %><br>
    <%= f.check_box :student_assistance %>
  </div>
  <div class="field">
    <%= f.label :work_correction, t('activerecord.attributes.request_for_teaching_assistant.work_correction') %><br>
    <%= f.check_box :work_correction %>
  </div>
  <div class="field">
    <%= f.label :test_oversight, t('activerecord.attributes.request_for_teaching_assistant.test_oversight') %><br>
    <%= f.check_box :test_oversight %>
  </div>
  <div class="field">
    <%= f.label :observation, t('activerecord.attributes.request_for_teaching_assistant.observation') %><br>
    <%= f.text_area :observation %>
  </div>
  <div class="field">
    <% if @semester %>
      <%= f.hidden_field :semester_id, :value => @semester.id %>
    <% else %>
      <%= f.hidden_field :semester_id, :value => @request_for_teaching_assistant.semester_id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
