<h1>Pedidos de Monitoria</h1>

<% if user_signed_in? or secretary_signed_in? or admin_signed_in? %>
  <% unless @open_semesters.any? or secretary_signed_in? or admin_signed_in? or current_user.professor.super_professor? or current_user.professor.hiper_professor? %>
    <h2>
      <i>Nenhum semestre aberto à requisição de monitores no momento</i>
    </h2>
  <% else %>
    <h2>
      Pedir monitor para:
    </h2>
    <% @active_semesters.each do |semester| %>
      <%= link_to semester.period_as_s, new_request_for_teaching_assistant_path(semester) %>
    <% end %>
    <span style="height: 2em; display: block;"></span>
  <% end %>
  <h2>
    Ver pedidos de:
  </h2>
  <% @active_semesters.each do |semester| %>
    <%= link_to semester.period_as_s, request_for_teaching_assistants_for_semester_path(semester) %>
  <% end %>
  <span style="height: 2em; display: block;"></span>
<% end %>

<h2>Pedidos do <%= @semester.as_s %></h2> 
<% if @should_have_department_sort %>
  <div style="text-align:center" class="biggerText">
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAC" value="MAC"> MAC
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAE" value="MAE"> MAE
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAP" value="MAP"> MAP
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAT" value="MAT"> MAT
    <input type="radio" name="disc" onchange="update_table(this.value)" id="ALL" value="ALL" checked> Todas
  </div>
<% end %>

<table id="requests_table">
  <thead>
    <tr>
    <th><%= t('activerecord.attributes.professor.professor') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.subject') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.semester_id') %> </th>
    <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_teaching_assistants.each do |request_for_teaching_assistant| %>
      <tr>
        <td><%= Professor.find(request_for_teaching_assistant.professor_id).name %></td>
        <td><%= request_for_teaching_assistant.course.course_code + " - " + request_for_teaching_assistant.course.name %></td>
        <td><%= request_for_teaching_assistant.requested_number %></td>
        <td><%= request_for_teaching_assistant.semester.period_as_s %></td>
        <td><%= link_to 'Ver', request_for_teaching_assistant %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var table = document.getElementById("requests_table");
  var courses_by_department = {};
  courses_by_department["MAC"] = [];
  courses_by_department["MAE"] = [];
  courses_by_department["MAT"] = [];
  courses_by_department["MAP"] = [];
  courses_by_department["ALL"] = [];

  for (var i = 1; i < table.rows.length; i++) {
    var row = table.rows[i];
    var course_name = row.cells[1].innerHTML;
    var columns = {professor: row.cells[0].innerHTML, course: course_name, number: row.cells[2].innerHTML, semester: row.cells[3].innerHTML, button: row.cells[4].innerHTML };
    courses_by_department[course_name.substring(0, 3)].push(columns);
    courses_by_department["ALL"].push(columns);
  }

  update_table("ALL");

  function update_table(dep) {
    for (var i = 1; i < table.rows.length; i++) {
      for (var j = 0; j < table.rows[i].cells.length; j++) {
        table.rows[i].cells[j].innerHTML = "";
      }
    }

    for (var i = 0; i < courses_by_department[dep].length; i++) {
      table.rows[i+1].cells[0].innerHTML = courses_by_department[dep][i].professor;
      table.rows[i+1].cells[1].innerHTML = courses_by_department[dep][i].course;
      table.rows[i+1].cells[2].innerHTML = courses_by_department[dep][i].number;
      table.rows[i+1].cells[3].innerHTML = courses_by_department[dep][i].semester;
      table.rows[i+1].cells[4].innerHTML = courses_by_department[dep][i].button;
    }

  }


</script>
