<h1>Pedidos de monitor</h1>

<%= link_to 'Novo pedido de monitor', new_request_for_teaching_assistant_path %>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Professor</th>
      <th>Discilpina</th>
      <th>Número solicitado</th>
      <th>Prioridade</th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_teaching_assistants.each do |request_for_teaching_assistant| %>
      <tr>
        <td><%= link_to 'Ver', request_for_teaching_assistant %></td>
        <td><%= request_for_teaching_assistant.professor_id %></td>
        <td><%= request_for_teaching_assistant.course.course_code %></td>
        <td><%= request_for_teaching_assistant.requested_number %></td>
        <td><%= priorityOptions[request_for_teaching_assistant.priority][0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
