
<h1>Meus pedidos de monitoria</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @semester.as_s %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Semester.all.reverse.each do |semester| %>
          <li><%= link_to semester.as_s, request_for_teaching_assistants_for_professor_and_semester_path(@professor, semester)%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <table id="requests_table" class="table table-hover">
    <thead>
      <tr>
      <th><%= t('activerecord.attributes.request_for_teaching_assistant.subject') %> </th>
      <th><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') %> </th>
      <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @request_for_teaching_assistants.each do |request_for_teaching_assistant| %>
        <tr>
          <td><%= request_for_teaching_assistant.course.course_code + " - " + request_for_teaching_assistant.course.name %></td>
          <td><%= request_for_teaching_assistant.requested_number %></td>
          <td><%= button_link_to 'Detalhes', request_for_teaching_assistant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-8 col-md-9">
    <% if @semester.open %>
      <%= button_link_to "Pedir monitor(es)", new_request_for_teaching_assistant_path(@semester) %>
    <% end %>
  </div>
</div>
