<h1>Pedidos de Monitoria</h1>

<% if user_signed_in? or secretary_signed_in? or admin_signed_in? %>
  <% unless @open_semesters.any? %>
    <h2>
      <i>Nenhum semestre aberto à requisição de monitores no momento</i>
    </h2>
  <% else %>
    <h2>
      Pedir monitor para:
    </h2>
    <% @open_semesters.each do |semester| %>
      <%= link_to semester.period_as_s, new_request_for_teaching_assistant_path(semester) %>
    <% end %>
    <span style="height: 2em; display: block;"></span>
  <% end %>
  <h2>
    Ver pedidos de:
  </h2>
  <% @semesters.reverse.each do |semester| %>
    <%= link_to semester.period_as_s, request_for_teaching_assistants_for_semester_path(semester) %>
  <% end %>
  <span style="height: 2em; display: block;"></span>
<% end %>

<h2>Pedidos do <%= @semester.as_s %></h2>

<table>
  <thead>
    <tr>
    <th><%= t('activerecord.attributes.professor.professor') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.subject') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.semester_id') %> </th>
    <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_teaching_assistants.each do |request_for_teaching_assistant| %>
      <tr>
        <td><%= Professor.find(request_for_teaching_assistant.professor_id).name %></td>
        <td><%= request_for_teaching_assistant.course.course_code + " - " + request_for_teaching_assistant.course.name %></td>
        <td><%= request_for_teaching_assistant.requested_number %></td>
        <td><%= request_for_teaching_assistant.semester.period_as_s %></td>
        <td><%= link_to 'Ver', request_for_teaching_assistant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
