<h1>Pedidos de Monitoria</h1>
<hr>

<% if professor_signed_in? %>
  <h2>
    Pedir monitor para:
    <% @semesters.each do |semester| %>
      <% if semester.open %>
        <%= link_to semester.as_s,
                    new_request_for_teaching_assistant_path(semester) %>
      <% end %>
    <% end %>
  </h2>
  <hr>
<% end %>

<h2></h2>

<table>
  <thead>
    <tr>
    <th colspan="1"></th>
	  <th><%= t('activerecord.attributes.professor.professor') %> </th>
	  <th><%= t('activerecord.attributes.request_for_teaching_assistant.subject') %> </th>
	  <th><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') %> </th>
	  <th><%= t('activerecord.attributes.request_for_teaching_assistant.semester_id') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @request_for_teaching_assistants.each do |request_for_teaching_assistant| %>
      <tr>
        <td><%= link_to 'Ver', request_for_teaching_assistant %></td>
        <td><%= Professor.find(request_for_teaching_assistant.professor_id).name %></td>
        <td><%= request_for_teaching_assistant.course.course_code + " - " + request_for_teaching_assistant.course.name %></td>
        <td><%= request_for_teaching_assistant.requested_number %></td>
        <td><%= request_for_teaching_assistant.semester.period_as_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
