
<h1>Pedido de monitor</h1>
<hr>

<% if notice %>
  <p id="notice"><%= notice %></p>
  <hr>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.professor.professor') + ':' %></strong>
  <%= @request_for_teaching_assistant.professor.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.semester') + ':' %></strong>
  <%= @request_for_teaching_assistant.semester.as_s %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.subject') + ':' %></strong>
  <%= @request_for_teaching_assistant.course.course_code + " - " + @request_for_teaching_assistant.course.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') + ':' %></strong>
  <%= @request_for_teaching_assistant.requested_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.priority') + ':' %></strong>
  <%= priorityOptions()[@request_for_teaching_assistant.priority][0] %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.student_assistance') + ':' %></strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.student_assistance) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.work_correction') + ':' %></strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.work_correction) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.test_oversight') + ':' %></strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.test_oversight) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.request_for_teaching_assistant.observation') + ':' %></strong>
  <%= (@request_for_teaching_assistant.observation) %>
</p>

<% if @request_for_teaching_assistant.semester.open or (@request_for_teaching_assistant.semester.active and secretary_signed_in?) %>
  <%= link_to 'Editar', edit_request_for_teaching_assistant_path(@request_for_teaching_assistant) %>
  <%= link_to 'Remover', @request_for_teaching_assistant, method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>

<%= link_to 'Voltar', request_for_teaching_assistants_path %>
<span style="height: 2em; display: block;"></span>

<h2>Monitores eleitos para essa solicitação</h2>
<% if @chosen_roles.any? %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nº USP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @chosen_roles.each do |role| %>
        <tr>
          <td class="name"><%= role.student.name %></td>
          <td><%= role.student.nusp %></td>
          <td><%= link_to 'Ver dados', role.student.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% else %>
  <p>Nenhum</p>
<% end %>

<% if (not @first_option_candidatures_for_this_request.nil? or not @other_option_candidatures_for_this_request.nil? or not @candidatures_for_this_department.nil?) and (secretary_signed_in? or (current_super_professor?)) %>

  <h2>Alunos que se candidataram para essa disciplina</h2>

  <%= candidatures_table(@first_option_candidatures_for_this_request, "Como 1ª opção") %>
  <%= candidatures_table(@other_option_candidatures_for_this_request, "Como 2ª, 3ª ou 4ª opção") %>

  <h2>Alunos que se candidataram para disciplinas deste mesmo departamento</h2>
  
  <%= candidatures_table(@candidatures_for_this_department, nil) %>
  <hr>
<% end %>
