<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= Professor.find(@request_for_teaching_assistant.professor_id).name %>
</p>

<p>
<strong>Disciplina:</strong>
  <%= @request_for_teaching_assistant.course.name %>
</p>

<p>
  <strong>Número de monitores solicitados:</strong>
  <%= @request_for_teaching_assistant.requested_number %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= priorityOptions()[@request_for_teaching_assistant.priority][0] %>
</p>

<p>
  <strong>Atendimento aos alunos:</strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.student_assistance) %>
</p>

<p>
  <strong>Correção de trabalhos:</strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.work_correction) %>
</p>

<p>
  <strong>Fiscalização de provas:</strong>
  <%= show_yes_or_no(@request_for_teaching_assistant.test_oversight) %>
</p>

<p>
  <strong>Observações:</strong>
  <%= (@request_for_teaching_assistant.observation) %>
</p>

<%= link_to 'Editar', edit_request_for_teaching_assistant_path(@request_for_teaching_assistant) %>
<%= link_to 'Remover', @request_for_teaching_assistant, method: :delete, data: { confirm: 'Você tem certeza?' } %>
<%= link_to 'Voltar', request_for_teaching_assistants_path %>

<table>
  <thead>
    <tr>
      <th>Alunos que se candidataram para essa disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% @candidatures_for_this_request.each do |candidature| %>
	  <tr>
		<td><%= candidature.student.name %></td>
		<td><%= link_to 'Ver candidatura', candidature %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
