<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advise.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @advise.message %>
</p>

<%= link_to 'Edit', edit_advise_path(@advise) %> |
<%= link_to 'Back', advises_path %>
