<%= form_for(@candidature) do |f| %>
  <% if @candidature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidature.errors.count, "erro impediu", "erros impediram") %> essa candidatura de ser salva:</h3>

      <ul>
      <% @candidature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :course1_id, t('activerecord.attributes.candidature.course1_id') %><br>
    <%= f.select :course1_id, course_options %><br>
  </div>
  <div class="field">
    <%= f.label :course2_id, t('activerecord.attributes.candidature.course2_id') %><br>
    <%= f.select :course2_id, course_options %><br>
  </div>
  <div class="field">
    <%= f.label :course3_id, t('activerecord.attributes.candidature.course3_id') %><br>
    <%= f.select :course3_id, course_options %><br>
  </div>
  <div class="field">
    <%= f.label :daytime_availability, t('activerecord.attributes.candidature.daytime_availability') %><br>
    <%= f.check_box :daytime_availability %>
  </div>
  <div class="field">
    <%= f.label :nighttime_availability, t('activerecord.attributes.candidature.nighttime_availability') %><br>
    <%= f.check_box :nighttime_availability %>
  </div>
  <div class="field">
    <%= f.label :time_period_preference, t('activerecord.attributes.candidature.time_period_preference') %><br>
    <% daytimePreference.each do | option | %>
      <%= f.radio_button :time_period_preference, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
