<%= form_for(@candidature) do |f| %>
  <% if @candidature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidature.errors.count, "erro impediu", "erros impediram") %> essa candidatura de ser salva:</h3>

      <ul>
      <% @candidature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if secretary_signed_in? %>
    <div class="field">
      <%= f.label :student_id, t('activerecord.attributes.student.student') %><br>
      <%= f.select :student_id, student_options, :include_blank => false %><br>
    </div>
  <% end %>

  <% (1..4).each do |i| %>
  <div class="biggerText">
    <div class="field">
      <% cid = "course#{i}_id".to_sym %>
      <%= f.label cid, t("activerecord.attributes.candidature.course#{i}_id") %><br>
      <input type="radio" name="<%="disc#{i}"%>" onchange="<%="updateList(this.value, #{i}, true)"%>" id="<%="MAC#{i}"%>" value="MAC"> MAC
      <input type="radio" name="<%="disc#{i}"%>" onchange="<%="updateList(this.value, #{i}, true)"%>" id="<%="MAE#{i}"%>" value="MAE"> MAE
      <input type="radio" name="<%="disc#{i}"%>" onchange="<%="updateList(this.value, #{i}, true)"%>" id="<%="MAP#{i}"%>" value="MAP"> MAP
      <input type="radio" name="<%="disc#{i}"%>" onchange="<%="updateList(this.value, #{i}, true)"%>" id="<%="MAT#{i}"%>" value="MAT"> MAT
      <input type="radio" name="<%="disc#{i}"%>" onchange="<%="updateList(this.value, #{i}, true)"%>" id="<%="ALL#{i}"%>" value="ALL" checked> Todas<br>
      <%= f.select cid, course_options, {}, {:onchange => "removeFromOthers(#{i})"} %><br>
    </div>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :daytime_availability, t('activerecord.attributes.candidature.daytime_availability') %><br>
    <%= f.check_box :daytime_availability %>
  </div>
  <div class="field">
    <%= f.label :nighttime_availability, t('activerecord.attributes.candidature.nighttime_availability') %><br>
    <%= f.check_box :nighttime_availability %>
  </div>
  <div class="field">
    <%= f.label :time_period_preference, t('activerecord.attributes.candidature.time_period_preference') %><br>
    <% daytimePreference.each do | option | %>
      <%= f.radio_button :time_period_preference, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <div class="field">
    <% if @semester %>
      <%= f.hidden_field :semester_id, :value => @semester.id %>
    <% else %>
      <%= f.hidden_field :semester_id, :value => @candidature.semester_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :voluntary, t('activerecord.attributes.candidature.voluntary') %><br>
    <%= f.check_box :voluntary %>
  </div>
  <div class="field">
    <%= f.label :observation, t('activerecord.attributes.candidature.observation') %><br>
    <%= f.text_area :observation %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>

<script>
var courseList = [];
var coursesByDep = {};
var currDep = ["all", "all", "all", "all"];
var removedOptions = [];
var oldSelectionValue = [0, 0, 0 ,0];
var name;
var id;
<% course_options.each do |course| %>
  name = "<%= course[0] %>";
  id = "<%= course[2] %>";
  courseList.push({display: name, value: id, dep: "<%= course[1] %>"});
<% end %>

coursesByDep["MAC"] = [];
coursesByDep["MAE"] = [];
coursesByDep["MAT"] = [];
coursesByDep["MAP"] = [];
coursesByDep["ALL"] = courseList;

for (var i = 0; i < courseList.length; i++) {
  coursesByDep[courseList[i].dep].push(courseList[i]);
}

for (var i = 1; i <= 4; i++)
  updateList("ALL", i, false);

function removeFromOthers(listId) {
  var select = document.getElementById("candidature_course" + listId + "_id");
  var selectedOption = select.options[select.selectedIndex];
  if (selectedOption.text != "") removedOptions.push(selectedOption.value);

  clearBanList(false, listId);
  oldSelectionValue[listId - 1] = select.options[select.selectedIndex].value;
}

function clearBanList(wasRadio, listId) {

  for (var i = 0; i < removedOptions.length; i++) {
    if (removedOptions[i] == oldSelectionValue[listId - 1]) {
      removedOptions.splice(i, 1);
      break;
    }
  }

  if(!wasRadio) {
    for (var j = 1; j <= 4; j++) {
      if (j != listId) {
        updateList(currDep[j-1], j, false);
      }
    }
  }

}

function updateList(dep, listId, wasRadio) {
  var select = document.getElementById("candidature_course" + listId + "_id");
  var oldIndex = select.selectedIndex;

  currDep[listId - 1] = dep;

  if (wasRadio) {
    clearBanList(true, listId, select.options[oldIndex].value);
  }

  var selectLength = select.options.length;
  for (var j = selectLength - 1; j >= 0; j--) {
    select.remove(j);
  }
  var list = coursesByDep[dep];
  var blank = document.createElement("option");
  blank.text = "";
  blank.value = "";
  select.add(blank);
  for (var i = 0; i < list.length; i++) {
    var val = list[i].value;
    if (val == oldSelectionValue[listId - 1] || removedOptions.indexOf(val) < 0) {
      var option = document.createElement("option");
      option.text = list[i].display;
      option.value = val;
      select.add(option);
    }
  }

  for (var i = 0; i < select.options.length; i++) {
    if (oldSelectionValue[listId - 1] == select.options[i].value) {
      select.selectedIndex = i;
    }
  }

  if (wasRadio)
    removeFromOthers(listId);

  oldSelectionValue[listId - 1] = select.options[select.selectedIndex].value;
}
</script>
