
<h1>Candidaturas por departamento:</h2>
<ul>
<% @departments.each do |dep| %>
  <li>
    <%= button_link_to dep.code, candidatures_for_department_path(Semester.current, dep) %>
  </li>
<% end %>
</ul>

<% if @current_department %>
  <% dep = @current_department.code %>
  <% unless @candidatures_filtered[dep].empty? %>
    <h1><%= dep.upcase %></h2>
    <% @candidatures_filtered[dep].each do |candidature| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <%= t('activerecord.attributes.student.nusp') + ': ' + candidature.student.nusp %>
            </th>
            <th><%= candidature.student.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="title"><%= t('activerecord.attributes.student.institute') %></td>
            <td><%= candidature.student.institute %></td>
          </tr>
          <tr>
            <td class="title"><%= t('activerecord.attributes.candidature.semester_id') %></td>
            <td><%= candidature.semester.period_as_s %></td>
          </tr>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course1_id') %>
            </td>
            <td>
              <% course = Course.find(candidature.course1_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
          <% if candidature.course2_id != nil %>
            <tr>
              <td class="title">
                <%= t('activerecord.attributes.candidature.course2_id') %>
              </td>
              <td>
                <% course = Course.find(candidature.course2_id) %>
                <%= course.course_code + " - " + course.name %>
              </td>
            </tr>
          <% end %>
          <% if candidature.course3_id != nil %>
            <tr>
              <td class="title">
                <%= t('activerecord.attributes.candidature.course3_id') %>
              </td>
              <td>
                <% course = Course.find(candidature.course3_id) %>
                <%= course.course_code + " - " + course.name %>
              </td>
            </tr>
          <% end %>
          <% if candidature.course4_id != nil %>
            <tr>
              <td class="title">
                <%= t('activerecord.attributes.candidature.course4_id') %>
              </td>
              <td>
                <% course = Course.find(candidature.course4_id) %>
                <%= course.course_code + " - " + course.name %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2"><%= button_link_to 'Mais informações', candidature %></th>
          </tr>
        </tbody>
      </table>
      <br>
    <% end %>
  <% end %>
<% end %>

<br>

<% if current_student? %>
  <% @semesters.each do |semester| %>
    <% if semester[:valid] %>
      <%= button_link_to "Candidatar-se para #{semester[:get].year}/#{semester[:get].parity_as_i}",
                  new_candidature_path(semester[:get]) %>
    <% end %>
  <% end %>
<% end %>
