<h1>Lista de Candidaturas</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Curso: 1ª opção</th>
      <th>Curso: 2ª opção</th>
      <th>Curso: 3ª opção</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatures_filtered.each do |candidature| %>
      <tr>
        <td><%= candidature.student.name %></td>
        <td><%= Course.find(candidature.course1_id).name %></td>
        <td><%= candidature.course2_id != nil ? Course.find(candidature.course2_id).name : "" %></td>
        <td><%= candidature.course3_id != nil ? Course.find(candidature.course3_id).name : "" %></td>
        <td><%= link_to 'Mostrar', candidature %></td>
        <td><%= link_to 'Editar', edit_candidature_path(candidature) %></td>
        <td><%= link_to 'Remover', candidature, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if student_signed_in? %>
    <%= link_to 'Nova Candidatura', new_candidature_path %>
<% end %>
