<h1>Lista de Candidaturas</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
	  <th><%= t('activerecord.attributes.candidature.course1_id') %></th>
	  <th><%= t('activerecord.attributes.candidature.course2_id') %></th>
	  <th><%= t('activerecord.attributes.candidature.course3_id') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatures_filtered.each do |candidature| %>
      <tr>
        <td><%= candidature.student.name %></td>
        <td>
          <% course = Course.find(candidature.course1_id) %>
          <%= course.course_code + " - " + course.name %>
        </td>
        <td>
          <% if candidature.course2_id != nil %>
          <% course = Course.find(candidature.course2_id) %>
          <%= course.course_code + " - " + course.name %>
          <% end %>
        </td>
        <td>
          <% if candidature.course3_id != nil %>
          <% course = Course.find(candidature.course3_id) %>
          <%= course.course_code + " - " + course.name %>
          <% end %>
        </td>
        <td><%= link_to 'Ver', candidature %></td>
        <td><%= link_to 'Editar', edit_candidature_path(candidature) %></td>
        <td><%= link_to 'Remover', candidature, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if student_signed_in? %>
    <%= link_to 'Nova Candidatura', new_candidature_path %>
<% end %>
