
<h1>Minhas candidaturas</h1>

<% if @candidatures.any? %>
  <% @candidatures.each do |candidature| %>
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <%= candidature.semester.period_as_s %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="title">
            <%= t('activerecord.attributes.candidature.course1_id') %>
          </td>
          <td class="name">
            <% course = Course.find(candidature.course1_id) %>
            <%= course.course_code + " - " + course.name %>
          </td>
        </tr>
        <% if candidature.course2_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course2_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course2_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <% if candidature.course3_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course3_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course3_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <% if candidature.course4_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course4_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course4_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><%= link_to 'Mais informações', candidature %></td>
        </tr>
      </tbody>
    </table>
    <br>
  <% end %>
<% else %>
  <h2><i>Você não tem nenhuma candidatura</i></h2>
<% end %>

<h1>Minhas monitorias</h1>

<% if @roles.any? %>
  <% @roles.each do |role| %>
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <%= role.semester.period_as_s %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="title">
            Curso
          </td>
          <td class="name">
            <%= role.course.full_name %>
          </td>
        </tr>
        <tr>
          <td class="title">
            Professor
          </td>
          <td class="name">
            <%= role.professor.name %>
          </td>
        </tr>
        <% if(!(Rails.env.production?)) %>
          <% if role.report_filled?) %>
            <tr>
              <td colspan="2"><%= link_to 'Ver relatório', print_report_path(role.id, :format => :pdf), target: "_blank" %></td>
            </tr>
          <% else %>
            <tr>
              <td colspan="2"><%= link_to 'Preencher relatório', report_form_path(role.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
<% else %>
  <h2><i>Você não tem nenhuma monitoria</i></h2>
<% end %>


<br>

<% if user_signed_in? and current_user.student? %>
  <% @semesters.each do |semester| %>
    <% if semester[:valid] %>
      <%= link_to "Candidatar-se para #{semester[:get].as_s}",
                  new_candidature_path(semester[:get]) %>
    <% end %>
  <% end %>
<% end %>
