<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.student.student') + ':' %></strong>
  <%= @candidature.student.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course1_id') + ':' %></strong>
  <%= Course.find(@candidature.course1_id).name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course2_id') + ':' %></strong>
  <% if @candidature.course2_id != nil%>
    <%= Course.find(@candidature.course2_id).name %>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course3_id') + ':' %></strong>
  <% if @candidature.course3_id != nil%>
    <%= Course.find(@candidature.course3_id).name %>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.avaliability_daytime') + ':' %></strong>
  <% if @candidature.avaliability_daytime %>
    Sim
  <% else %>
    Não
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.avaliability_night_time') + ':' %></strong>
  <% if @candidature.avaliability_night_time %>
    Sim
  <% else %>
    Não
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.time_period_preference') + ':' %></strong>
  <%= daytimePreference()[@candidature.time_period_preference.to_i][0] %>
</p>

<%= link_to 'Editar', edit_candidature_path(@candidature) %> |
<%= link_to 'Voltar', candidatures_path %>
