<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.student.student') + ':' %></strong>
  <%= @candidature.student.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.nusp') + ':' %></strong>
  <%= @candidature.student.nusp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.email') + ':' %></strong>
  <%= @candidature.student.email %>
</p>

<!-- AMAGAD GAMBZ -->
<!-- fomos incapazes de fazer o render template do students/_show funcionar, então... -->

<h2>Dados de aluno</h2>

<p>
  <strong><%= t('activerecord.attributes.student.gender') + ':' %></strong>
  <% if (@candidature.student.gender == 0) %>
    <%="Feminino"%>
  <%else%>
    <%="Masculino"%>
  <%end%>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.institute') + ':' %></strong>
  <% if @candidature.student.institute != "Outros" %>
    <%= @candidature.student.institute %>
  <% else %>
    <%= @candidature.student.institute_text %>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.rg') + ':' %></strong>
  <%= @candidature.student.rg %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.cpf') + ':' %></strong>
  <%= @candidature.student.cpf %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.address') + ':' %></strong>
 	<%= @candidature.student.address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.complement') + ':' %></strong>
  <%= @candidature.student.complement %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.district') + ':' %></strong>
  <%= @candidature.student.district %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.cep') + ':' %></strong>
  <%= @candidature.student.zipcode %>
</p>

<p>
  <strong><%= t('activerecord.attributes.student.city') + ':' %></strong>
  <%= @candidature.student.city %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.state') + ':' %></strong>
  <%= @candidature.student.state %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.tel') + ':' %></strong>
  <%= @candidature.student.tel %>
</p>
<p>
  <strong><%= t('activerecord.attributes.student.cel') + ':' %></strong>
  <%= @candidature.student.cel %>
</p>

<% if (user_signed_in? and current_user.super_professor?) or admin_signed_in? or secretary_signed_in? %>
  <%= link_to 'Ver avaliações como monitor(a)', assistant_evaluations_for_student_path(@candidature.student) %>
<% end %>
<span style="height: 2em; display: block;"></span>

<% if !(user_signed_in? and current_user.student?)%>
  <h2> Histórico escolar </h2>
  <% if @history_table == "" %>
  <div class="biggerText">
  Não foi possível acessar o histórico do estudante nos sistemas USP.
  <br>
  Por favor, consulte diretamente o Júpiter ou o Janus.
</div> 
  <% else %>
    <% curr_year_semester = "" %>
    <% @history_table.each do |item| %>
    <% if (curr_year_semester != item.year_semester) %>
      <% if (curr_year_semester != "") %>
        </tbody>
        </table> 
      <% end %>
      <% curr_year_semester = item.year_semester %>
      <h3><%= item.semester %>º semestre de <%= item.year %></h3>
      <table> 
      <thead>
        <th>Curso</th>
        <th>Nota</th>
        <th>Status</th>
      </thead>
      <tbody>
    <% end %>
      <tr>
        <td><%= item.course_name %></td>
        <td><%= item.grade %></td>
        <td><%= item.full_status %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>

  <span style="height: 2em; display: block;"></span>
<% end %>

<h2>Dados da candidatura</h2>

<p>
  <strong><%= t('activerecord.attributes.candidature.semester') + ':' %></strong>
  <%= @candidature.semester.as_s %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course1_id') + ':' %></strong>
  <% course = Course.find(@candidature.course1_id) %>
  <%= course.course_code + " - " + course.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course2_id') + ':' %></strong>
  <% if @candidature.course2_id != nil%>
    <% course = Course.find(@candidature.course2_id) %>
    <%= course.course_code + " - " + course.name %>
  <% else %>
    <i>Nenhum</i>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course3_id') + ':' %></strong>
  <% if @candidature.course3_id != nil%>
    <% course = Course.find(@candidature.course3_id) %>
    <%= course.course_code + " - " + course.name %>
  <% else %>
    <i>Nenhum</i>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.course4_id') + ':' %></strong>
  <% if @candidature.course4_id != nil%>
    <% course = Course.find(@candidature.course4_id) %>
    <%= course.course_code + " - " + course.name %>
  <% else %>
    <i>Nenhum</i>
  <% end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.daytime_availability') + ':' %></strong>
  <%= show_yes_or_no(@candidature.daytime_availability) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.nighttime_availability') + ':' %></strong>
  <%= show_yes_or_no(@candidature.nighttime_availability) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.time_period_preference') + ':' %></strong>
  <%= daytimePreference()[@candidature.time_period_preference.to_i][0] %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.voluntary') + ':' %></strong>
  <%= show_yes_or_no(@candidature.voluntary) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.candidature.observation') + ':' %></strong>
  <%= (@candidature.observation) %>
</p>

<% if user_signed_in? and current_user.student? %>
  <% if @candidature.semester.open %>
    <%= link_to 'Editar', edit_candidature_path(@candidature) %>
    <%= link_to 'Remover', @candidature, method: :delete, data: { confirm: 'Tem certeza?' } %>
  <% end %>
<% end %>
<%= link_to 'Voltar', candidatures_path %>
<span style="height: 2em; display: block;"></span>
