<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @candidature.student.name %>
</p>

<p>
  <strong>Curso: 1ª opção:</strong>
  <%= Course.find(@candidature.course1_id).name %>
</p>

<p>
  <strong>Curso: 2ª opção:</strong>
  <% if @candidature.course2_id != nil%>
    <%= Course.find(@candidature.course2_id).name %>
  <% end %>
</p>

<p>
  <strong>Curso: 3ª opção:</strong>
  <% if @candidature.course3_id != nil%>
    <%= Course.find(@candidature.course3_id).name %>
  <% end %>
</p>

<p>
  <strong>Disponibilidade para trabalhar de dia:</strong>
  <% if @candidature.avaliability_daytime %>
    Sim
  <% else %>
    Não
  <% end %>
</p>

<p>
  <strong>Disponibilidade para trabalhar de noite:</strong>
  <% if @candidature.avaliability_night_time %>
    Sim
  <% else %>
    Não
  <% end %>
</p>

<p>
  <strong>Preferência de trabalhar no período:</strong>
  <%= daytimePreference()[@candidature.time_period_preference.to_i][0] %>
</p>

<%= link_to 'Editar', edit_candidature_path(@candidature) %> |
<%= link_to 'Voltar', candidatures_path %>
