
<% fields_for(@user) do |u| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "erro impediu", "erros impediram") %> esse aluno de ser salvo:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= u.label :name, t('activerecord.attributes.user.complete_name') %><br>
    <%= u.text_field :name %>
  </div>

  <div class="field">
    <%= u.label :password, t('activerecord.attributes.user.password') %><br>
    <span class="note"> <%= t('activerecord.attributes.user.password_note') %> </span><br>
    <%= u.password_field :password %>
  </div>

  <div class="field">
    <%= u.label :password_confirmation, t('activerecord.attributes.user.password_confirmation') %><br>
    <%= u.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= u.label :nusp, t('activerecord.attributes.user.nusp') %><br>
    <%= u.text_field :nusp %>
  </div>

  <div class="field">
    <%= u.label :email %><br>
    <%= u.text_field :email %>
  </div>
<% end %>
