<h1>Perfil</h1>

<h2>Dados de usuário</h2>

<p>
  <strong><%= t('activerecord.attributes.user.complete_name') + ':' %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.nusp') + ':' %></strong>
  <%= @user.nusp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.email') + ':' %></strong>
  <%= @user.email %>
</p>

<% if admin_signed_in? || secretary_signed_in? %>
  <p>
    <strong><%= t('activerecord.attributes.user.confirmed_at') + ':' %></strong>
    <%= @user.confirmed_at ? @user.confirmed_at : t('activerecord.attributes.user.unconfirmed') %>
  </p>
<% end %>

<% if can? :destroy, @user and can_be_removed? @user %>
  <%= link_to 'Remover', user_path(@user), method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>

<% if user_signed_in? and current_user.id == @user.id %>
  <%= link_to 'Editar', edit_user_path(@user) %>
<% end %>

<span style="height: 2em; display: block;"></span>

<% @user.student do |student| %>
  <% @student = student %>
  <%= render template: "students/_show" %>
<% end %>

<% @user.professor do |professor| %>
  <% @professor = professor %>
  <%= render template: "professors/_show" %>
<% end %>

