<!DOCTYPE html>
<html>
  <head>
    <title>Certificado <%= @assistant.student.name %></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="margin:0.5in; margin-top:2in; line-height:250%; font-family:'Arial'" id="content">
      <div align="center">
        <h1>A T E S T A D O</h1>
      </div>
      <br>
      <p align="justify" style="text-indent:40px">
        Atestamos para os devidos fins que <b><%= @assistant.student.name %></b> foi 
        <%= @genderfied_title %> do Instituto de Matemática e Estatística da 
        Universidade de São Paulo, sem vínculo empregatício no 
        <%= @assistant.semester.as_s %>, na disciplina <b><%= @assistant.course.full_name %></b>,
        sob a responsabilidade do(a) professor(a) <%= @assistant.professor.name %>.
      </p>
      <br><br>
      <div align="right">
          São Paulo, <%= format('%02d', Time.now.day) %> de <%= months_to_names[Time.now.month] %> de <%= Time.now.year %>. 
      </div>
      <br><br><br>
      <div style="float:right" align="center">
        <p style="margin:0; padding:0; border:0;">Zara Issa Abud</p>
        <p style="margin:0; padding:0; border:0;"><b><i>Comissão de Monitoria</b></i></p>
        <p style="margin:0; padding:0; border:0;"><b><i>Coordenadora</b></i></p>
      </div>
    </div>
  </body>
</html>