
<h1>Monitores eleitos para <%= @semester.as_s %></h1>

<div class="row" style="height:1em;"></div>

<div class="row">
  <div class="col-sm-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <%= @semester.as_s %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Semester.all.order(created_at: :desc).each do |semester| %>
          <li><%= link_to semester.as_s, assistant_roles_for_semester_path(semester)%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if (secretary_signed_in? or current_hiper_professor?) %>
    <div class="col-sm-6">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @department.code %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% Department.all.order(code: :desc).each do |department| %>
            <li><%= link_to department.code, assistant_roles_for_semester_and_department_path(@semester, department)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if secretary_signed_in? and @semester.current? %>
    <div class="col-sm-2">
      <%= button_link_to "Notificar monitores", notify_assistant_roles_for_semester_path(@semester), method: :post %>
    </div>
    <div class="col-sm-2">
      <% unless Rails.env.production? %>
        <%= button_link_to "Pedir avaliações dos professores", request_assistant_evaluations_for_semester_path(@semester), method: :post %>
      <% end %>
    </div>
  <% else %>
    <div class="col-sm-10"></div>
  <% end %>
</div>

<div class="row" style="height:1em;"></div>

<table id="roles_table" class="table table-hover">
  <thead>
    <tr>
      <th>Aluno(a)</th>
      <th>Disciplina</th>
      <th>Professor(a)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @assistant_roles.each do |role| %>
      <tr>
        <td><%= role.student.name %></td>
        <td><%= role.request_for_teaching_assistant.course.course_code %></td>
        <td><%= role.request_for_teaching_assistant.professor.name %></td>
        <% if secretary_signed_in? or current_super_professor? %>
          <td>
            <%if role.active %>
              <% if secretary_signed_in? %>
                  <%= small_button_link_to "Desativar", deactivate_assistant_role_path(role.id), method: :post, data: { confirm: 'Deseja mesmo desativar este monitor?' } %>
              <% else %>
                  Ativo
              <% end %>
            <% else %>
              Desativado
              <%= small_button_link_to "Reativar", reactivate_assistant_role_path(role.id), method: :post, data: { confirm: 'Deseja mesmo reativar este monitor?' } %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% if role.report_filled? %>
          <%= small_button_link_to 'Ver relatório', print_report_path(role.id, :format => :pdf), target: "_blank" %>
          <% end %>
        </td>
        <% if secretary_signed_in? or admin_signed_in? %>
          <td>
            <%= small_button_link_to "Atestado", certificate_path(role.id, :format => :pdf), method: :get, target: "_blank" %>
          </td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
