
<h1>Monitores eleitos para <%= @semester.as_s %></h1>

<div class="row" style="height:1em;"></div>

<% if secretary_signed_in? and @semester.current? %>
  <% unless Rails.env.production? %>
    <%= button_link_to "Pedir avaliações dos professores", request_assistant_evaluations_for_semester_path(@semester), method: :post %>
  <% end %>
  <%= button_link_to "Notificar monitores", notify_assistant_roles_for_semester_path(@semester), method: :post %>
  <br><br>
<% end %>

<table id="roles_table" class="table table-hover">
  <thead>
    <tr>
      <th>Aluno(a)</th>
      <th>Disciplina</th>
      <th>Professor(a)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @assistant_roles.each do |role| %>
      <tr>
        <td><%= role.student.name %></td>
        <td><%= role.request_for_teaching_assistant.course.course_code %></td>
        <td><%= role.request_for_teaching_assistant.professor.name %></td>
        <% if secretary_signed_in? or current_super_professor? %>
          <td>
            <%if role.active %>
              <% if secretary_signed_in? %>
                  <%= button_link_to "Desativar", deactivate_assistant_role_path(role.id), method: :post, data: { confirm: 'Deseja mesmo desativar este monitor?' } %>
              <% else %>
                  Ativo
              <% end %>
            <% else %>
              Desativado
            <% end %>
          </td>
        <% end %>
        <td>
          <% if role.report_filled? %>
          <%= button_link_to 'Ver relatório', print_report_path(role.id, :format => :pdf), target: "_blank" %>
          <% end %>
        </td>
        <% if secretary_signed_in? or admin_signed_in? %>
          <td>
            <%= button_link_to "Atestado", certificate_path(role.id, :format => :pdf), method: :get, target: "_blank" %>
          </td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
