
<h1>Meus monitores</h1>

<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    <h2 class="list-group-item-heading"><%= @semester.as_s %></h3>
  </li>
  <% @assistant_roles.each do |role| %>
    <li class="list-group-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="list-group-item-heading"><%= role.student.name %></h4>
            <p class="list-group-item-text">
              <% if role.student.is_male? %>
                Monitor <%= role.active ? "ativo" : "desativado" %> de <%= role.request_for_teaching_assistant.course.course_code %>
              <% else %>
                Monitora <%= role.active ? "ativa" : "desativada" %> de <%= role.request_for_teaching_assistant.course.course_code %>
              <% end %>
            </p>
          </div>
          <div class="col-sm-8">
            <% if role.active %>
              <div class="row">
                <% @semester.months.each do |month| %>
                  <div class="col-sm-3 text-center">
                    <div class="row">
                      <%= "#{months_to_names[month]}" %>:
                    </div>
                    <div class="row">
                      <% status = role.frequency_status_for_month(month) %>
                      <% color = "black" %>
                      <% if status == "Pendente" %>
                        <div class="col-sm-12 col-lg-6 text-center">
                          <%= button_to "Presente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: true, pid: role.professor.id}, method: :post, class: "btn btn-primary btn-xs", data: { confirm: 'Deseja mesmo marcar presença para este monitor?' } %>
                        </div>
                        <div class="col-sm-12 col-lg-6 text-center">
                          <%= button_to "Ausente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: false, pid: role.professor.id}, method: :post, class: "btn btn-primary btn-xs", data: { confirm: 'Deseja mesmo marcar ausência para este monitor?' }  %>
                        </div>
                      <% else %>
                        <% if status == "Presente"
                              color = "green"
                           elsif status == "Ausente"
                              color = "red"
                           elsif status == "---"
                              color = "gray"
                            elsif status == "Pago"
                              color = "blue"
                           else
                              color = "darkgoldenrod"
                           end
                        %>
                        <%= content_tag :span, style: "color:#{color};" do -%>
                          <%= status %>
                        <% end -%>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="text-center">Desativado</p>
            <% end %>
          </div>
        </div>
        <div class="row text-center">
          <% if @semester.evaluation_period %>
            <% if role.assistant_evaluation %>
              <%= button_link_to "Mudar avaliação", edit_assistant_evaluation_path(role.assistant_evaluation), class: "btn btn-lg btn-primary" %>
            <% else %>
              <%= button_link_to "Avaliar", new_assistant_evaluation_path(role), class: "btn btn-lg btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

 