<h1>Meus monitores do <%= @semester.as_s %></h1>

<% @assistant_roles.each do |role| %>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><%= role.student.name %> - <%= role.request_for_teaching_assistant.course.course_code %></div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <% @semester.months.each do |month| %>
                <td class="text-center">
                  <strong><%= "#{months_to_names[month]}" %></strong>
                </td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @semester.months.each do |month| %>
                <td class="text-center">
                  <% status = role.frequency_status_for_month(month) %>
                  <% color = "black" %>
                  <% if status == "Pendente" && !secretary_signed_in? %>
                    <%= button_to "Presente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: true, pid: role.professor.id, redirect_to_index: "for_professor"}, method: :post, class: "btn btn-primary", data: { confirm: 'Deseja mesmo marcar presença para este monitor?' }  %>
                    <%= button_to "Ausente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: false, pid: role.professor.id, redirect_to_index: "for_professor"}, method: :post, class: "btn btn-primary", data: { confirm: 'Deseja mesmo marcar ausência para este monitor?' }  %>
                  <% else %>
                    <% if status == "Presente"
                          color = "green"
                       elsif status == "Ausente"
                          color = "red"
                       elsif status == "---"
                          color = "gray"
                        elsif status == "Pago"
                          color = "blue"
                       else
                          color = "darkgoldenrod"
                       end
                    %>
                      <%= content_tag :span, style: "color:#{color}" do -%>
                        <%= status %>
                      <% end -%>
                    <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <% unless Rails.env.production? %>
            <% if role.assistant_evaluation %>
              <td><%= button_link_to "Mudar avaliação", edit_assistant_evaluation_path(role.assistant_evaluation) %></td>
            <% else %>
              <td><%= button_link_to "Avaliar", new_assistant_evaluation_path(role) %></td>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
<% end %>
 