<% if secretary_signed_in? %>
  <%= link_to "Novos Avisos", new_advise_path, {:style=>'font-size:x-large;', :class => "css_class"} %>
<% end %>


<h2>Bem-vindo ao sistema de monitoria do IME-USP!</h2>

<p>
  Esse sistema gerencia o cadastro de monitores nas disciplinas ministradas
  por professores do instituto. Alunos, sigam as instruções abaixo.
</p>

<% if (@advises = getAdivises) %>
  <% @advises.each do |advise| %>
      <h2><%= advise.title %></h2> 
      <p><%= advise.message  %>
      <% if secretary_signed_in? %>
        <%= link_to 'Modificar', edit_advise_path(advise)%>
        <%= link_to 'Deletar', advise, method: :delete, data: { confirm: 'Você tem certeza?' } %> </p>
      <% end %>
  <% end %>
<% end %>

<h2>Alunos - Inscrições</h2>


<p style="color: #d55; font-weight: bold;">
  As inscrições para o segundo semestre de 2014 estão encerradas. Os resultados da seleção de monitores estão sendo divulgadas <a href="http://www.ime.usp.br/grad/monitoria">aqui.</a>
</p>

<h2>Contato</h2>

<p>
  Dúvidas sobre o processo de inscrição, entrem em contato com
  <strong>monitoria@ime.usp.br</strong>
</p>

<p>
  Problemas com o sistema, entrem em contato com
  <strong>sistemamonitoria@ime.usp.br</strong>
</p>
