<h1>
  Avisos
  <% if secretary_signed_in? %>
    <%= link_to "Adicionar aviso", new_advise_path %>
  <% end %>
</h1>
<hr>

<% if (@advises = getAdivises) %>
  <% @advises.each do |advise| %>
      <h2><%= advise.title %></h2>

      <% if advise.advise_urgency? %>
        <p style="color: red; ">
      <% else %>
        <p style="color: black; ">
      <% end %>
      <%= advise.message %>
      </p>
      <% if secretary_signed_in? %>
        <%= link_to 'Modificar', edit_advise_path(advise)%>
        <%= link_to 'Deletar', advise, method: :delete, data: { confirm: 'Você tem certeza?' } %> </p>
      <% end %>
      <br>
  <% end %>
<% end %>

