<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "erro impediu", "erros impediram") %> esse professor de ser salvo:</h3>

      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('activerecord.attributes.professor.name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nusp, t('activerecord.attributes.professor.nusp') %><br>
    <%= f.text_field :nusp %>
  </div>
  <div class="field">
    <%= f.label :department_id, t('activerecord.attributes.department.department') %><br>
    <%= f.select :department_id, department_options %>
  </div>
  <div class="field">
    <%= f.label :password, t('activerecord.attributes.professor.password') %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('activerecord.attributes.professor.password_confirmation') %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email, t('activerecord.attributes.professor.email') %><br>
    <%= f.email_field :email %>
  </div>
  <% if admin_signed_in? %>
    <div class="field">
      <%= f.label :super_professor, t('activerecord.attributes.professor.super_professor') %><br>
      <%= f.check_box :super_professor %>
    </div>
  <% end %>
  <div class="field">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
