<%= form_for(@professor) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "erro impediu", "erros impediram") %> a mudança de senha:</h3>

      <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, t('activerecord.attributes.professor.password') %>
    <br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('activerecord.attributes.professor.password_confirmation') %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
