
<h2>Dados de professor</h2>

<p>
  <strong><%= t('activerecord.attributes.department.department') + ':' %></strong>
  <%= @professor.department.code %>
</p>

<% if admin_signed_in? %>
  <p>
    <strong><%= t('activerecord.attributes.professor.professor_rank') + ':' %></strong>
    <%= professorRankOptions()[@professor.professor_rank][0] %>
  </p>
<% end %>

<% if user_signed_in? and current_user.professor == @professor %>
  <%= link_to 'Editar', edit_professor_path(@professor) %>
<% end %>

<span style="height: 2em; display: block;"></span>

<% if can_promote? %>
  <p>
    <%= button_to "Promover para comissão de monitoria", controller: "professors", :action => "make_superprofessor", :id => @professor.id, :method => 'post' %>
  </p>
<% end %>
