<h1>Professores</h1>

<table>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Departamento</th>
    </tr>

    <% @professors.each do |professor| %>
        <tr>
            <td><%= link_to professor.name, professor %></td>
            <td><%= professor.email %></td>
            <td><%= professor.department.code %></td>
            <% if admin_signed_in? %>
                <td><%= professor.super_professor%></td>
                <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
            <% end %>
            <td><%= link_to 'Visualizar', professor %></td>
        </tr>
    <% end %>
</table>
