<p>
  <strong>Nome:</strong>
  <%= @professor.name %>
</p>
 
<p>
  <strong>Nusp:</strong>
  <%= @professor.nusp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>
 
<p>
  <strong>Departamento:</strong>
  <%= @professor.department %>
</p>
 
<p>
<strong>Password:</strong>
  <%= @professor.password %>
</p>
 
