<p>
  <strong><%= t('activerecord.attributes.professor.name') + ':' %></strong>
  <%= @professor.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.professor.nusp') + ':' %></strong>
  <%= @professor.nusp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.professor.email') + ':' %></strong>
  <%= @professor.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.department.department') + ':' %></strong>
  <%= @professor.department.code %>
</p>

<% if admin_signed_in? %>
  <p>
    <strong><%= t('activerecord.attributes.professor.professor_rank') + ':' %></strong>
    <%= professorRankOptions()[@professor.professor_rank][0] %>
  </p>
  <p>
    <%= link_to 'Remover', professor_path(@professor), method: :delete, data: { confirm: 'Tem certeza?' } %>
  </p>
<% end %>
<% if professor_signed_in? and current_professor == @professor %>
  <p>
      <%= link_to 'Editar', edit_professor_path(@professor) %>
  </p>
  <p>
      <%= link_to 'Mudar senha', change_professor_password_path(@professor) %>
  </p>
<% end %>
