<p>
  <strong><%= t('activerecord.attributes.professor.name') + ':' %></strong>
  <%= @professor.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.professor.nusp') + ':' %></strong>
  <%= @professor.nusp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.professor.email') + ':' %></strong>
  <%= @professor.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.department.department') + ':' %></strong>
  <%= @professor.department.code %>
</p>

<% if admin_signed_in? %>
    <p>
        <strong><%= t('activerecord.attributes.professor.super_professor') + ':' %></strong>
        <%= show_yes_or_no @professor.super_professor %>
    </p>
    <p>
      <%= link_to 'Editar', edit_professor_path(@professor) %>
    </p>
<% end %>
