<% if current_user.professor? %>
	<h2>Para solicitar um monitor basta seguir os passos abaixo ilustrados passo a passo por figuras.</h2><br>

	<div>
	  <li>Vá para a página <a href="http://monitoria.ime.usp.br">monitoria.usp.br</a> usando um navegador de sua escolha e clique no link 'Acessar' no canto superior direito da página.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/editar-cadastro/editar-cadastro1.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/editar-cadastro/editar-cadastro1.png", class: 'images' %><br><br>
	</div>

	<div>
	  <li>Digite o seu NºUSP e senha para fazer login no sistema.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao5.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao5.png", class: 'images' %><br><br>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao6.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao6.png", class: 'images' %><br><br>
	</div>

	<div>
	  <li>Agora você está no seu painel do usuário. Clique no link 'Pedidos de monitoria' no lado direito da página.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor1.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor1.png", class: 'images' %><br><br>
	</div>

	<div>
	  <li>Na seção 'Pedir monitores para:' clique no botão correspondente ao semestre para o qual você pretende solicitar monitores.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor2.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor2.png", class: 'images' %><br><br>  
	</div>

	<div>
	  <li>Preencha o formulário de pedido de monitor e escreva comentários caso queira manifestar alguma necessidade em particular em relação ao pedido.</li>
	  <li>Depois de acabar o preenchimento do formulário clique no botão 'Enviar'.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor3.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor3.png", class: 'images' %><br><br>  
	</div>

	<div>
	  <li>Verifique se os dados relativos à monitoria estão corretos. Caso não estajam clique no botão 'Editar' e altere o que for necessário no formulário. Se você tiver desistido de solicitar a monitoria clique no botão 'Remover' e o pedido de monitor será apagado.</li>
	  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor4.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/pedido-monitor/pedido-monitor4.png", class: 'images' %><br><br>  
	</div>

	<p><b>OBS: você pode solicitar monitores apenas para semestres abertos no sistema.</b></p>
<% end %>