<%= form_for(@course) do |f| %>
  <script type="text/javascript">
    function department_selected() {
        select_box = document.getElementById("course_department_id")
        idx = select_box.value;
        if (idx == "") {
            department_name_str = ""
        } else {
            department_name_str = select_box.options[idx].text;
        }
        department_name_field = document.getElementById("department_name")
        department_name_field.innerHTML = department_name_str;
    }
  </script>

  <div>
    <%= f.label :name, t('activerecord.attributes.course.name') %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :department_id, t('activerecord.attributes.department.department') %><br>
      <%= f.select :department_id, department_options, {}, {:onchange => 'department_selected()'} %>
  </div>
  <div>
      <%= f.label :course_code, t('activerecord.attributes.course.course_code') %><br>
      <span id="department_name">
      </span>
      <%= f.text_field :course_code %>
  </div>
  <div class="field">
    <%= f.label :educational_level, t('activerecord.attributes.course.educational_level') %><br>
    <% educational_levels.each do | option | %>
      <%= f.radio_button :educational_level, option[1] %>
      <%= f.label option[0] %>
      </br>
    <% end %>
  </div>
  <p>
    <%= f.submit "Enviar" %>
    </p>
<% end %>
