<%= form_for :course, url: courses_path do |f| %>

  <div>
    <%= f.label :name, "Nome da Disciplina" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :course_code, "Código da Disciplina" %><br>
    <%= f.text_field :course_code %>
  </div>

  <div class="field">
      <%= f.label :department_id, "Departamento" %><br>
      <%= f.select :department_id, department_options %><br>
  </div>
  
  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>
