<%= form_for(@secretary) do |f| %>
  <% if @secretary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secretary.errors.count, "error") %> impediu esse funcionário de ser salvo:</h2>

      <ul>
      <% @secretary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nusp, "Número USP" %><br>
    <%= f.text_field :nusp %>
  </div>
  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirme a senha" %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
