<h1>Lista de Secretárias</h1>

<table>
  <thead>
    <tr>
      <th>Nusp</th>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secretaries.each do |secretary| %>
      <tr>
        <td><%= secretary.nusp %></td>
        <td><%= secretary.name %></td>
        <td><%= secretary.email %></td>
        <td><%= link_to 'Visualizar', secretary %></td>
        <% if admin_signed_in? %>
                <td><%= link_to 'Editar', edit_secretary_path(secretary) %></td>        
                <td><%= link_to 'Remover', secretary, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
