<%= form_for :secretary, url: secretaries_path do |f| %>
  <p>
    <%= f.label :nusp, "Número USP" %><br>
    <%= f.text_field :nusp %>
  </p>

  <p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password , "Senha" %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>
