<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @secretary.name %>
</p>

<p>
  <strong>Número USP:</strong>
  <%= @secretary.nusp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @secretary.email %>
</p>

<% if admin_signed_in? %>
  <p>
		<%= link_to 'Editar', edit_secretary_path(@secretary) %>
    <%= link_to 'Remover', @secretary, method: :delete, data: { confirm: 'Tem certeza?' } %>
  </p>
<% end %>
