<h1>Bem-vind@, <%= @resource.name %>!</h1>

<% if @resource.class == Secretary %>
  <p>
    Você pode confirmar sua conta através do link abaixo:
  </p>
  <p>
    <%= link_to 'Confirmar meu cadastro', confirmation_url(@resource, confirmation_token: @token), target: "_blank" %>
  </p>
  <p>Sua senha de acesso é: <strong><%= @resource.password%></strong></p>
<% elsif @resource.class == User and @resource.password_confirmation.nil? %>
  <p>
    Caso não tenha interesse em solicitar monitores neste semestre, por favor, desconsidere esta mensagem.
  </p>
  <p>
    O Sistema de Monitoria do IME-USP permite que você peça monitores para suas disciplinas pela Internet quando as inscrições forem abertas. Este e-mail serve para confirmar seu cadastro. Para isso, basta acessar o link abaixo:
  </p>
  <p>
    <%= link_to 'Confirmar meu cadastro', confirmation_url(@resource, confirmation_token: @token), target: "_blank" %>
  </p>
  <p>
    <strong>Uma vez confirmada sua conta, é possível acessá-la no endereço <%= link_to 'monitoria.ime.usp.br/prof', new_user_session_url, target: "_blank"%></strong>. Sua senha de acesso é: <strong><%= @resource.password%></strong> (você pode mudá-la no seu perfil)
  </p>
  <p>
    Em caso de dúvidas sobre como usar o sistema, entre em contato pelo e-mail sistemamonitoria@ime.usp.br.
  </p>
<% else %>
  <p>
    Você pode confirmar sua conta através do link abaixo:
  </p>
  <p>
    <%= link_to 'Confirmar meu cadastro', confirmation_url(@resource, confirmation_token: @token), target: "_blank" %>
  </p>
<% end %>

<p>
  Cordialmente,<br>
  Sistema de Monitoria
</p>
