<h2>Para reobter acesso ao sistema basta seguir os passos abaixo ilustrados passo a passo por figuras.</h2><br>


<div>
  <li>Vá para a página <a href="http://monitoria.ime.usp.br">monitoria.usp.br</a> usando um navegador de sua escolha e clique no link 'Acessar' no canto superior direito da página.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/editar-cadastro/editar-cadastro1.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/editar-cadastro/editar-cadastro1.png", class: 'images' %><br><br>
</div>

<div>
  <li>Clique no botão 'Esqueceu sua senha' no lado direito da tela</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha2.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha2.png", class: 'images' %><br><br>
</div>

<div>
  <li>Digite o <b>e-mail fornecido no cadastro do sistema</b> e clique no botão 'Enviar o email com instruções para obter nova senha'.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha3.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha3.png", class: 'images' %><br><br>
</div>

<div>
  <li>Verifique se foi recebido um e-mail como no exemplo da figura abaixo.</li>
  <li>Lembre-se de checar a sua caixa de spam se necessário e de aguardar entre 10 e 30 minutos caso você esteja usando uma conta de e-mail cujas mensagens são redirecionadas para outra conta.</li>
  <li>Ao receber o e-mail clique no link 'Mudar minha senha'.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha4.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha4.png", class: 'images' %><br><br>
</div>

<div>
  <li>Digite a sua nova senha nos dois campos que aparecem na tela. Depois disso a nova senha estará cadastrada e você pode voltar a acessar o sistema.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha5.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/esqueceu-senha/esqueceu-senha5.png", class: 'images' %><br><br>
</div>
