<h2>Para fazer o cadastro de aluno no sistema basta seguir os passos abaixo ilustrados passo a passo por figuras.</h2><br>

<div>
  <li>Vá para a página <a href="http://monitoria.ime.usp.br">monitoria.usp.br</a> usando um navegador de sua escolha e clique no link 'Cadastrar-se' no canto superior direito da página.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro1.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro1.png", class: 'images' %><br><br>
</div>

<div>
  <li>Preencha os campos solicitados para fazer o cadastro e clique no botão 'Salvar'.</li>
  <li>É importante digitar todos os dados solicitados, pois sem eles não será possível finalizar o cadastro e você terá que fornecer as informações restantes.</li>
  <li>Se alguma informação preenchida tiver sido considerada incorreta ou se você deixar de preencher algum campo obrigatório você terá que digitar a sua senha novamente.</li>
  <li>No caso de informações como 'Complemento' você pode deixar o campo vazio se ele não for aplicável ao seu caso.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro2.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro2.png", class: 'images' %><br><br>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro3.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro3.png", class: 'images' %><br><br>
</div>

<div>
  <li>Ao receber o e-mail de confirmação você precisa abrí-lo e clicar no link 'Confirmar meu cadastro'.</li>
  <li>Ao clicar no link será aberta uma página confirmando o cadastro.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro4.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro4.png", class: 'images' %><br><br>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro5.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro5.png", class: 'images' %><br><br>
</div>

<div>
  <li>Agora basta preencher seu Nº USP e senha para fazer login no sistema.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro6.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro6.png", class: 'images' %><br><br>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro7.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-cadastro/fazer-cadastro7.png", class: 'images' %><br><br>
</div>

