<h2>Para se candidatar a disciplinas como monitor basta seguir os passos abaixo ilustrados passo a passo por figuras.</h2><br>

<div>
  <li>Vá para a página <a href="http://monitoria.ime.usp.br">monitoria.usp.br</a> usando um navegador de sua escolha e clique no link 'Acessar' no canto superior direito da página.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao1.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao1.png", class: 'images' %><br><br>
</div>

<div>
  <li>Digite o seu NºUSP e senha para fazer login no sistema.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao5.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao5.png", class: 'images' %><br><br>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao6.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/reenviar-email-confirmacao/reenviar-email-confirmacao6.png", class: 'images' %><br><br>
</div>

<div>
  <li>Agora você está no seu painel do usuário. Clique no link 'Minhas candidaturas' no canto direito da página.</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura2.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura2.png", class: 'images' %><br><br>
</div>

<div>
  <li>Clique no link referente ao semestre em que você quer ser monitor.</li>
  <li>Caso não haja nenhum link leia os avisos destinados aos alunos, o período de candidaturas a monitor pode não estar aberto. Em caso de dúvida envie um e-mail para mailto <a href="mailto:sistemamonitoria@ime.usp.br">sistemamonitoria@ime.usp.br</a> .</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura3.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura3.png", class: 'images' %><br><br>
</div>

<div>
  <li>Preencha o formulário para se candidatar a monitor e clique no botão 'Enviar'. Note que <b>não é obrigatório</b> escolher mais de uma opção de curso</li>
  <%= link_to image_tag("/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura4.png", width: '95%', height: '95%'), "/assets/tutoriais-sistema-monitoria/fazer-candidatura/fazer-candidatura4.png", class: 'images' %><br><br>
</div>
