<h1>Tutoriais de uso do sistema por alunos</h1>

<p>Esta página contém tutoriais que ajudam os alunos a usarem o sistema de monitoria. Para acessar os tutorias basta clicar abaixo no tutorial desejado.</p>

<div>
  <%= link_to "Fazer cadastro no sistema", help_students_path('fazer-cadastro') %><br><br>
  <%= link_to "Solicitar para reenviar o e-mail de confirmação de cadastro no sistema", help_students_path('enviar-email-confirmacao') %><br><br>
  <%= link_to "Editar cadastro no sistema", help_students_path('editar-cadastro') %><br><br>
  <%= link_to "Recuperação de senha de usuário no sistema", help_students_path('esqueceu-senha') %><br><br>
  <%= link_to "Efetuar candidatura no sistema para dar monitoria", help_students_path('fazer-candidatura') %><br><br>
  <%= link_to "Como visualizar informações úteis aos candidatos a monitor", help_students_path('visualizar-infos-uteis') %>

  <!-- NÃO EXISTE OPÇÃO PARA QUEM ESQUECEU O E-MAIL -->
</div>
