<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Monitoria IME-USP</title>

    <link type="text/plain" rel="author" href="humans.txt" />
    <%= javascript_include_tag :modernizr %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div>
        <div class="toptitle"><%= link_to "Sistema de Monitoria", "/" %></div>
        <!-- Painel de quem não é usuário -->
        <% if signed_in? %>
          <%= link_to "Sair", destroy_session_path, method: :delete %>
          <%= link_to "Perfil", current_signed %>
        <% else %>
          <%= link_to "Acessar", new_user_session_path %>
          <%= link_to "Acesso USP", user_omniauth_authorize_path(:usp) %>
        <% end %>
      </div>
    </header>
    <div class="shell">
      <nav>

        <% if signed_in? %>
          <p>
            Acessando como
            <b><%=admin_signed_in? ? current_signed.email : current_signed.name %></b>
          </p>
        <% else %>
          <p>
            Você ainda não fez acesso
          </p>
          <% unless Rails.env.production? %>
            <ul>
              <li>
                <%= link_to "Guia de uso (alunos)", help_students_path('home') %>
              </li>
            </ul>
          <% end %>
        <% end %>

        <!-- Painel do admin -->
        <% if admin_signed_in? %>
          <hr>
          <h2>Administrador(a)</h2>
          <ul>
            <li>
              <%= link_to "Cadastrar disciplina", new_course_path %>
            </li>
            <li>
              <%= link_to "Cadastrar professor", new_professor_path %>
            </li>
            <li>
              <%= link_to "Cadastrar funcionário", new_secretary_path %>
            </li>
            <li>
               <%= link_to "Candidaturas", candidatures_path %>
            </li>
            <li>
              <%= link_to "Monitores eleitos", assistant_roles_path %>
            </li>
            <li>
              <%= link_to "Gerenciar semestres", semesters_path %>
            </li>
            <li>
              <%= link_to "Usuários", users_path %>
            </li>
            <li>
              <%= link_to "Dump do BD", { action: "index", controller: "dumps" } %>
            </li>
            <li>
              <%= link_to "Painel de controle", control_panel_admins_path %>
            </li>
          </ul>
        <% end %>
        <!-- Painel dos funcionários -->
        <% if secretary_signed_in? %>
          <hr>
          <h2>Funcionário(a)</h2>
          <ul>
            <li>
              <%= link_to "Gerenciar semestres", semesters_path %>
            </li>
            <li>
              <%= link_to "Pedidos de monitoria", request_for_teaching_assistants_path %>
            </li>
            <li>
              <%= link_to "Monitores eleitos", assistant_roles_path %>
            </li>
            <li>
               <%= link_to "Candidaturas", candidatures_path %>
            </li>
            <li>
              <%= link_to "Usuários", users_path %>
            </li>
          </ul>
        <% end %>
        <% if user_signed_in? %>
          <!-- Painel dos professores -->
          <% current_user.professor do |professor| %>
            <hr>
            <h2>Professor(a)</h2>
            <ul>
              <li>
                <%= link_to "Pedidos de monitoria", request_for_teaching_assistants_path %>
              </li>
              <li>
                <%= link_to "Meus monitores", assistant_roles_for_professor_path(professor) %>
              </li>
              <li>
                <%= link_to "Guia de uso", help_professors_path('home') %>
              </li>
            </ul>
            <% if professor.super_professor? %>
              <hr>
              <h2>Comissão de monitoria</h2>
              <ul>
                  <li>
                    <%= link_to "Cadastrar disciplina", new_course_path %>
                  </li>
                  <li>
                     <%= link_to "Candidaturas", candidatures_path %>
                  </li>
                  <li>
                    <%= link_to "Monitores eleitos", assistant_roles_path %>
                  </li>
                  <li>
                    <%= link_to "Usuários", users_path %>
                  </li>
              </ul>
            <% end %>
          <% end %>
          <!-- Painel dos alunos -->
          <% current_user.student do |student| %>
            <hr>
            <h2>Aluno(a)</h2>
            <ul>
              <li>
                 <%= link_to "Minhas candidaturas", candidatures_path %>
              </li>
              <% unless Rails.env.production? %>
                <li>
                   <%= link_to "Guia de uso", help_students_path('home') %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

        <% if flash[:notice] %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if flash[:alert] %>
          <p class="alert"><%= alert %></p>
        <% end %>

      </nav>
      <section>
        <%= yield %>
      </section>
    <footer>
      <p><strong>Dúvidas sobre o processo de inscrição</strong>: monitoria@ime.usp.br</p>
      <p><strong>Problemas com o sistema</strong>: sistemamonitoria@ime.usp.br</p>
    </footer>
    </div>

  </body>
</html>
