<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Monitoria IME-USP</title>

    <link type="text/plain" rel="author" href="humans.txt" />
    <%= javascript_include_tag :modernizr %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="pagetop">
      <h1>Sistema de monitoria</h1>
      <ul>
        <li>
          <%= link_to "Página principal", "/" %>
        </li>
        <li>
          <%= link_to "Professores", professors_path %>
        </li>
        <li>
          <%= link_to "Disciplinas", courses_path %>
        </li>
        <li>
        <%= link_to "Funcionários", secretaries_path %>
        </li>
        <% if student_signed_in?%>
          <li>
            <%= link_to "Candidaturas", candidatures_path %>
          </li>
        <% end %>
        <% if admin_signed_in? || professor_signed_in? || student_signed_in? || secretary_signed_in? %>
          <li>
            <%= link_to "Alunos", students_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="shell">
      <div class="sidebar">
        <% if admin_signed_in? %>
          <p>
            Acessando como
            <b><%=current_admin.email%></b>
          </p>
        <% elsif professor_signed_in? %>
          <p>
            Acessando como
            <b><%= current_professor.email %></b>
          </p>
        <% elsif secretary_signed_in? %>
          <p>
            Acessando como
            <b><%= current_secretary.email %></b>
          </p>
        <% elsif student_signed_in? %>
          <p>
            Acessando como
            <b><%= current_student.email %></b>
          </p>
        <% else %>
          <p>
            Você ainda não fez acesso
          </p>
        <% end %>
        <ul>
          <% if current_student.present? %>
            <li>
              <%= link_to "Editar Perfil", edit_student_path(current_student) %>
            </li>
          <% end %>
          <% if admin_signed_in? || (current_professor.present? && current_professor.super_professor?) %>
            <li>
              <%= link_to "Nova Disciplina", new_course_path %>
            </li>
          <% end %>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "Novo Professor", new_professor_path %>
            </li>
            <li>
              <%= link_to "Novo Funcionário", new_secretary_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
            </li>
          <% elsif professor_signed_in? %>
            <li>
              <%= link_to "Pedidos de Monitoria", request_for_teaching_assistants_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_professor_session_path, method: :delete %>
            </li>
          <% elsif secretary_signed_in? %>
            <li>
              <%= link_to "Logout", destroy_secretary_session_path, method: :delete %>
            </li>
          <% elsif student_signed_in? %>
            <li>
              <%= link_to "Logout", destroy_student_session_path, method: :delete %>
            </li>      
          <% else %>
            <li>
              <%= link_to "Novo Aluno", new_student_path %>
            </li>
            <li>
              <%= link_to "Login Aluno", new_student_session_path %>
            </li>
            <li>
              <%= link_to "Login Professor", new_professor_session_path %>
            </li>
      	    <li>
      	      <%= link_to "Login Secretária", new_secretary_session_path %>
  		      </li>
            <li>
              <%= link_to "Admin Login", new_admin_session_path %>
            </li>
          <% end %>
        </ul>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    <div>

  </body>
</html>
